@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
html, body {
  font-family: 'Ubuntu', sans-serif;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}

.button{
  width: 66px;
  padding: 15px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0 0 3px;
  background-color: azure;
}
.button:hover{
  transform: scale(1.1);
}

.row{
  margin: 5px 0;
}
input{
  font-size: 1.5rem;
  font-weight: bold;
}
.row input{
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}
.button.equal{
  background-color: orange;
}
.button.op{
  background-color: rgb(250, 250, 112);
}