.text-center{
  text-align: center;
}
.text-white{
  color: #fff;
}
.bg-red{
  background: red;
}

.mx-auto{
  margin: auto;
}

.d-flex{
  display:flex;
} 
.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}